apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx

---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: ingress-nginx
    namespace: flux-system
      spec:
        url: https://kubernetes.github.io/ingress-nginx
          interval: 1h

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 10m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.12.0 # check https://github.com/kubernetes/ingress-nginx/releases
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
  values:
    controller:
      replicaCount: 2
      service:
        type: LoadBalancer
        annotations:
          service.beta.kubernetes.io/aws-load-balancer-type: "nlb" # or "clb"
      admissionWebhooks:
        enabled: true
      metrics:
        enabled: true
      ingressClassResource:
        name: nginx
        enabled: true
        default: true



